# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.tmp
*.temp
*.bak
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / VS Code
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.xcuserstate

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication / obfuscation
app.*.symbols
app.*.map.json
debug-info/
build/debug-info/

# Android
/android/app/debug
/android/app/profile
/android/app/release
local.properties
android/key.properties
**/*.jks
**/*.keystore

# Apple generated
**/Pods/
**/.symlinks/
**/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
macos/Flutter/ephemeral/
macos/Flutter/generated_config.dart
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
macos/Runner.xcworkspace/xcuserdata/
macos/Runner.xcodeproj/xcuserdata/

# Local env / secrets
.env
.env.*
!.env.example